    body {
      background-color: #f5f7fa;
    }

    .toto{
      border-radius: 15px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
      transition: 0.3s;
    }

    .toto:hover {
      transform: translateY(-5px);
    }

    .ticket-table {
      background: white;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
    }

    .assigne {
      background: white;
      border-radius: 15px;
      padding: 20px;
      box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
    }